/* 헤드 전체 부분 */
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 24px;
    font-size: 1.5rem;
    margin-top: 0;
}
/* 헤드 전체 부분 */


/* 헤드 왼쪽 부분 */
.head_left{
    display: flex;
    justify-content: space-between;
    color: black;
    list-style: none;
    margin-bottom: 0;
}

.head_left li{
    margin: 12px 12px;
}

.head_left a{
    color: black;
}
/* 헤드 왼쪽 부분 */


/* 헤드 오른쪽 부분 */
.head_right {
    display: flex;
}

.head_right a{
    color: black;
}

/* 헤드 오른쪽 부분 */