.login_modal{
    background: powderblue;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    display: none;
}

.login_modal i{
    position: absolute;
    top: 4%;
    right: 4%;
}

form{
    margin: 60px auto;
}

input{
    width: 80%;
    border-radius: 5px;
    border-color: transparent;
    padding: 12px 12px
}

.sing_btn li{
    list-style: none;
    margin: 12px 12px;
}

.sing_btn button{
    width: 80%;
    padding: 5px 0px;
    border-color: transparent;
    margin-bottom: 5%;
}

#log{
    margin-top: 20px;}

#input_id{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    width: 40%;
    height: 30%;
    background: rgba(0,0,0,0.5);
    display: none;
}

#input_id p{
    color: white;
    font-size: 1.5rem;
}

#input_id button{
    border-radius: 5px;
    width: 30%;
    padding: 2% 0;
    margin-bottom: 5%;
    font-weight: bold;
    background: skyblue;
    border-color: transparent;
    
}

#input_id ul{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    list-style: none;
}

#input_pw{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    width: 40%;
    height: 30%;
    background: rgba(0,0,0,0.5);
    display: none;
}

#input_pw p{
    color: white;
    font-size: 1.5rem;
}

#input_pw button{
    border-radius: 5px;
    width: 30%;
    padding: 2% 0;
    margin-bottom: 5%;
    font-weight: bold;
    background: skyblue;
    border-color: transparent;
    
}

#input_pw ul{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    list-style: none;
}
