*{ box-sizing: border-box;}

h1{text-align: center;
font-size: 100px;
margin-bottom: 10px;
}

body {background-color: #1DA1F2;
    margin: 0px;
}

ul{
    list-style: none;
}

a{text-decoration: none;
}

a:visited{color: black;
}

#toggle {
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    right : 20px;
    top : 30px;
    border: black 4px solid;
    border-radius: 30px;
    color: black;
    outline: none;
    background-color: Transparent;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding : 8px 12px;
    background-color: tomato;
}

.nav-logo {
    display: flex;
    margin : 24px 0px;
    padding-left: 0px;
}

.nav-logo li{
    margin : 0px 6px;
    font-size: 26px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    font-size: 26px;
    padding-left: 0px;
}

.nav-menu li{
    margin : 0px 12px;
}

.nav-icon {
    display: flex;
    flex-direction: row;
    margin : 24px 8px;
}

.nav-icon li {
    margin : 0px 8px;
}

@media (max-width:800px){
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
        padding : 8px 24px;
        
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-menu li{
        padding: 8px;
    }

    .nav-icon{
        padding-left: 0;
        justify-content: center;
        width: 100%;
    }



    p{display : none;}
}