.nav_list{
    display: flex;
    list-style: none;
    position: absolute;
    right: 1%;
    margin-top: 5px;
}

.nav_list li{
    margin: 5px 12px;
}

.nav_list li:hover{
    text-decoration: underline;
}