body{background-color: black;}
input{width: 400px;
height: 50px;
margin: 5px;
padding-left: 8px;
box-sizing: border-box;
background-color: rgb(51 51 51);
color: rgb(116 116 116);
border-radius: 5px;
border: none;}
input:focus {outline:none;}
.log{
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -200px;
  margin-top: 55px;}
  .text{margin-top: 15px;}
button {border: 2px red solid;
background-color: red;
width: 100px;
height: 30px;
border-radius: 5px;
color: white;
font-weight: bold;
font-size: 15px;
position: relative;
left: 10px;
outline: none;}
